dist: xenial 
language: node_js 
node_js: 
  - 10 
addons: 
  apt:
    packages:
      - "python3"
      - "python3-pip"
  snaps: 
  - name: aws-cli 
    classic: true 
    channel: latest/stable 

before_script:
  - 'pip install --upgrade pip'
  - 'pip3 install --user aws-sam-cli'
  - 'USER_BASE_PATH=$(python -m site --user-base)'
  - 'export PATH=$PATH:$USER_BASE_PATH/bin'
  - 'aws --version'
  - 'sam --version'